/* Import "Roboto Condensed" font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

/* Apply "Roboto Condensed" to the entire body */
body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif; /* Use "Roboto Condensed" */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Rest of your CSS code
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */